
  body {
    background-color: #f7f7f7;
  }
  
  .container {
    margin-top: 50px;
  }
  
  .box {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 24px;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
  }
  
  #todo-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  #todo-input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .list-group-item {
    background-color: #f9f9f9;
    border: none;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
  }
  
  #delete-completed-button {
    background-color: #d35d69;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #delete-completed-button:hover {
    background-color: #c82333;
  }

  


.list-group-item {
  position: relative;
}

.delete-icon {
  position: absolute;
  top: 25%;
  right: 0;
  margin: 0;
  cursor: pointer;
  color: rgb(108, 66, 66);
}

.done-text {
  position: absolute;
  top: 25%;
  right: 30px;
  margin: 0;
  font-weight: bold;
  cursor: pointer;
  color: green;
}
